<!DOCTYPE html>
<html ng-app="app">
	<head>
		<title>String Processing</title>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.js"></script>
		<script src="app.js"></script>
		<script src="stringService.js"></script>
	</head>
	<body ng-controller="ctrl">
		<table>
			<tr>
				<td>Input String</td>
				<td><input type="text" ng-model="input"/></td>
			</tr>
			<tr>
				<td>Output String</td>
				<td><input type="text" ng-model="output"/></td>
			</tr>
			<tr>
				<td><button ng-click="transformString(input)">Process</button></td>
			</tr>
		</table>
	</body>
</html>